<div class="pictures_bg">
  <div class="pictures_contents_wrapper">
    <h1>Editing Picture</h1>

    <%= render 'form', picture: @picture %>

    <%= link_to 'Show', @picture, class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Back', pictures_path, class:"btn btn-secondary" %>
  </div>
</div>
