<h1>投稿が完了しました！</h1>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @picture.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>
