.pictures_bg {
  min-height: 100vh;
  background-image: image-url('pictures_bg.png');
  display:flex;
  align-items:center;
}

.pictures_contents_wrapper {
  margin: 0 auto;
  width: 60vh;
  min-height: 55vh;
  background-color: white;
}

.field p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.text_wrapper_for_index {
  margin: 10px auto;
  width: 500px;
}

.pictures_contents_wrapper p {
  font-size: 20px;
}

.text_field {
  height: 300px;
  width: 500px;
}
